.mian_box {
  flex: 1;
  padding:  0 12px;
  :global(.container) {
    display: block;
    min-height: calc(100% - 60px);
    padding: 12px;
    border: 1px dashed #ccc;
    border-radius: 4px;
  }
}
.tip {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #999;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed #ddd;
  padding: 12px 0 12px 12px;
  margin-bottom: 12px;
  background-color: white;
  cursor: move;
}
.card_left {
  flex: 1;
}
.card_right {
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding: 0 8px;
}
.icon_box {
  flex: 1;
  cursor: pointer;
  text-align: center;
}