.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  justify-items: center;
  min-height: 100svh;
  font-synthesis: none;
  background: #fff;
  color: #333;
  min-width: 1300px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.title {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.json_box {
  width: 460px;
  padding-right: 12px;
  
}
.json_box :global(.container) {
  display: block;
  height: calc(100vh - 60px);
  padding: 12px;
  background-color: #eee;
  border-radius: 4px;
  white-space: pre-wrap;
  overflow-y: auto;
}


